%hr
%div.control-group
  %label.control-label Name*
  %div.controls
    = builder.text_field :name

%div.control-group
  %label.control-label Company/Client
  %div.controls
    = builder.text_field :company_name



%div.control-group
  %label.control-label On going
  %div.controls
    = builder.check_box :is_ongoing
    
%div.control-group
  %label.control-label Time Period*
  %div.controls
    = builder.text_field :start_date ,:class=>"date-picker"
    to
    =builder.text_field :end_date,:class=>"date-picker"
%div.control-group
  %label.control-label Description
  %div.controls
    = builder.text_area :description,:style=>"width:600", :rows => 7

%div.control-group
  %div.controls    
    = builder.link_to_remove "Remove Project",:class=>"btn"
