%html
  %head
    %title Online Resume Builder | Make My CV
    = stylesheet_link_tag    "application" 
    = javascript_include_tag "application" 
    = csrf_meta_tags
  %body
    .container_16
      .topnav Make My Profile
      .wrapper
        %header
          %nav#navbar
            %ul#nav
              - if current_user
                %li{:class=>"#{current_class('profile')}"}
                  = link_to "Profile",profile_path
              - else
                %li{:class=>"#{current_class('home')}"}
                  %a{:href => "#"} Home
              %li
                %a{:href => "#"} About Us
        %section#mainContent.grid_16.alpha.omega
          #sidebar.alpha{:class=>"#{sidebar_css_class}"}
            = yield :sidebar
          #content{:class=>"#{main_content_css_class}"}
            = yield
         
          .clear
        .push
      %footer.footer
        %p Copyright (c) 2008
