%html
  %head
    %title Online Resume Builder | Make My CV
    = stylesheet_link_tag    "application" 
    = javascript_include_tag "application" 
    = csrf_meta_tags
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26013642-2']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

     
    = yield :head
  %body
    .container_16.wrapper
      .topnav Make My Profile
      .contentwrapper
        %header
          %nav#navbar
            %ul#nav
              - if current_user
                %li{:class=>"#{current_class('profile')}"}
                  = link_to "Profile",profile_path
                %li{:class=>"#{current_class('template1')}"}
                  = link_to "Template",template1_path 
                %li
                  %a{:href => "/about"} About Us   
                
              - else
                %li{:class=>"#{current_class('home')}"}
                  %a{:href => "#"} Home
                %li
                  %a{:href => "/about"} About Us
                = link_to image_tag('linkedin_64.png'),user_omniauth_authorize_path(:linkedin),:style=>"margin:0;padding-top: 5px;float:right"          
      
              - if current_user  
                %li{:class=>"#{current_class('template1')}"}
                  = link_to "Logout",logout_path 

        %section#mainContent.grid_16.alpha.omega
          #sidebar.alpha{:class=>"#{sidebar_css_class}"}
            = yield :sidebar
          #content{:class=>"#{main_content_css_class}"}
            = yield
          .clear
      .clear   
      .push
      %footer.footer
        %p{"style"=>"margin:10px;padding:10px;font-size:14px"}
          Copyright (c) 20012 More info 
          %a{:href=>"http://paramitech.com"} Param
