%html
  %head
    %title Online Resume Builder | Make My CV
    = stylesheet_link_tag    "application" 
    = javascript_include_tag "application" 
    = csrf_meta_tags
    %script
      var _gauges = _gauges || [];
      (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', 'this is different for each gauge');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
      })(); 
    = yield :head
  %body
    .container_16.wrapper
      .topnav Make My Profile
      .contentwrapper
        %header
          %nav#navbar
            %ul#nav
              - if current_user
                %li{:class=>"#{current_class('profile')}"}
                  = link_to "Profile",profile_path
              - else
                %li{:class=>"#{current_class('home')}"}
                  %a{:href => "#"} Home
              %li
                %a{:href => "#"} About Us
        %section#mainContent.grid_16.alpha.omega
          #sidebar.alpha{:class=>"#{sidebar_css_class}"}
            = yield :sidebar
          #content{:class=>"#{main_content_css_class}"}
            = yield
          .clear
      .clear   
      .push
      %footer.footer
        %p Copyright (c) 2008
